<div class="container">
  <div class="roll">
    <div class="theme">
      <h1>STAR WARS</h1>
      
      <!-- <p>Lucas ipsum dolor sit amet pau'an tagge kael kashyyyk mace vodran hssis jagged tharen nas. Qui-gonn nadon
        freedon phlog. Tavion secura raa fel sebulba wyl. Adi gonk vestara sing yuzzem. Thrackan aayla darth b'omarr
        sern antilles thisspiasian. Lando jettster dug dagobah kohl organa. Vao duro antilles k-3po bibble thrackan.
        Monkey-lizard quelli kamino sanyassan. Kalee barriss kalarba quence emtrey. Shmi gwurran darth hobbie. Ben
        derlin dexter ka. Vurk omwati gizka lah ikrit stass ubese marek. Jabba mon ryn jodo tyranus devaronian han.
        <br /><br /><br />
        Kwi darth ogemite abregado rattataki cade hutt qui-gon. Caamasi dunhausen timoliini wirutid zeltron antilles
        bespin vella even. Sarn habassa vedder xexto gunray ailyn latter. Dooku tarpals moff utai. Skirata terentatek
        tion leia. Noghri sykes ackbar windu. Dug sebulba finis barabel aparo. Nute oola jamillia tyranus metalorn k-3po
        mandalorians. Troig sebulba sifo-dyas ulic gank. Kota ongree mace ugnaught. Moor panaka ikrit wilhuff calrissian
        ranat. Bria kalee trianii aparo amidala gank ansionian sal-solo jinn.
        <br /><br /><br />
        Ulic bane wedge valorum jade yevetha gotal. Zam max typho opress thisspias ogemite. Dantooine qrygg croke sola
        jubnuk naboo dexter. Ugnaught tapani maul frozarns zhell skywalker isard kalarba sulorine. Karrde geonosis
        thrawn braxant. Cracken reach nunb felucia. Farlander quee skywalker orus. Gungan ponda hutt tyber rotta fey'lya
        su balosar. Ozzel olié tavion frozarns ansionian dexter. Adi darth iktotchi mimbanite. Massassi thisspiasian
        vagaari duro. Kael dantooine teek tsavong gorith ablajeck. Ulic metalorn utapau bith aayla.
        <br /><br /><br />
        Cato roos mantell ferroans beru muzzer dashade organa chommell. Ralter caamasi bail moff carlist max ben.
        Amidala wharl opress cad aayla klivian. Zabrak needa ken kubaz shimrra beru panaka vulptereen maul. Whaladon
        mimbanite aayla mon caamasi. Nute aparo nilgaard farlax reach typho binks letaki carnor. Rebo nar bane ruurian
        lama dak. Rattataki watto iblis skywalker mohc bria bormea ikrit drach'nam. Joruus kaleesh shi'ido felth
        qui-gonn warrick raa. Coruscant zhell yuvernian halla altyr gilad. Trandoshan fosh coruscant drach'nam.
        <br /><br /><br />
        Sykes tiin dunwell naberrie ima-gun zuckuss. Vella amedda calamari koon. Mayagil nadd rotta pau'an. Squib kast
        owen utapau hobbie moore darklighter vos. Calrissian cody xizor durron lama tono aurra iridonian nahdar. Jar
        rishii greedo xanatos solo cb-99. Shado seerdon rukh sarn skywalker letaki kenobi. Hutt gossam calamari davin.
        Shado lars jarael terrik. Tyranus motti deliah quence lama utapaun jubnuk. Jade nal isolder joelle dorvalla
        jeremoch. Quelli muunilinst ahsoka shistavanen tierce thul balosar.
      </p> -->
    </div>
  </div>

  <div class="planet">
  </div>
</div>









<!-- <div class="container-fluid d-flex justify-content-center align-items-center background">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1 class="title">welcome </h1>
        <a class="nav-link active" aria-current="page" routerLink="smugglers">
          <button>Go</button>
        </a>  
      </div>
    </div>
  </div> -->