.card {
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid #EEB757;
    margin: auto;

    &:hover {
        box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    }

    .card-title {
        font-family: "Raleway";
        color: whitesmoke;
        font-size: 1.5em;
        margin-top: 35px;
        margin-left: 10px;
    }

    .card-item {
        list-style: none;
        color: whitesmoke;
        font-size: 1em;
        margin-bottom: 10px;
        margin-left: 10px;
    }

    .card-item-container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        padding: 6px;
        margin-left: 10px;

    }

    .progress-bar {
        background-color: #95C623;
    }

    .button-access {
        font-family: "Raleway";
        color: black;

        &:hover {
            background-color: whitesmoke;
        }
    }

    .button-go-back {
        margin: 10px;
    }

    @media screen and (max-width: 767px) {
        .card-body {
          padding: 15px;
          margin-bottom: 100px;
        }
      
        .card-title {
          font-size: 1.5em;
        }
      
        .progress {
          margin-bottom: 5px;

        }
      
        // .button-go-back,
        // .button-access {
        //   margin-top: 10px;
        // }
        
        .col-md-4 {
          text-align: center;
          margin-bottom: 20px;
        }
        
        .img-fluid {
          width: 80%;
        }
        
        .col-md-8 {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      
        .card-item-container {
          list-style: none;
          padding: 0;
          
        }
      
        .card-item {
          margin-bottom: 2px;
          font-size: .8em;
        }
      
        .progress {
          height: 5px;

        }
      
        .button-go-back {
          margin-top: 10px;
        }
      
        .button-access {
          margin-top: 0px;
        }
      }

}