
<div class="card mb-3" style="max-width: 800px;">
    <div class="row g-0">
      <div class="col-md-4">
        <a class="card-img-top-link" routerLink="planets">
        <img src="{{spacecraftFeatures.imageSpacecraft}} " class="img-fluid rounded-start" alt="smuggler-space-ship"> 
    </a>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{ spacecraftFeatures.shipName }}</h5>
          <ul class="card-item-container">
            <li class="card-item"> {{ spacecraftFeatures.model }}</li>
            <li class="card-item">  {{ spacecraftFeatures.manufacturer }}</li>
          </ul>
          <app-button-go-back class="button-go-back"></app-button-go-back>
          <a routerLink="planet">
            <button type="button" class="button-access btn btn-light">Go Back</button>
          </a>
        </div>
      </div>
    </div>
  </div>
